{% extends 'base.html.twig' %}
{% block body %}
<header class=" mt-5 container-fluid align-center  " style="background-color: #212529;">
    <section class="page-section mt-5 bg-dark" id="portfolio" style="background-color: #212529;">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel" id="head_carroussel" style="background-color: #212529;">
                    {% for   pic in carroussel_pic %}
                        {% if pic|length > 4 %}
                        <div class="item" style="background-color: #212529;">
                            <div class="work" style="background-color: #212529;">
                                <div class="portfolio-item" style="background-color: #212529;">
                                    <a class="portfolio-link" href="portfolio">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="public/web/assets/img/Accueil/{{pic}}" alt="image du carroussel" />
                                    </a>
                                    <div class="portfolio-caption" style="background-color: #212529;">
                                        <div class="portfolio-caption-heading text-uppercase"><small>{{accroche[loop.index - 3]}}</small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
    </section>
</header>
<section class="page-section " id="presentation">
    <div class="container ">
        <div class="row  text-center">
            <div class="col-md-12" id="div-presentation">
                <div class="d-flex flex-wrap align-items-start justify-content-around">
                    <img class="img-fluid col-lg-4 col-md-10 mt-5  shadow" src="public//web/assets/img/presentation.jpg" alt="image du carroussel" />
                    <div class="col-lg-6 mt-5 col-md-10 ">
                        <h1 align='left' class=" text-uppercase">Pink Organisation</h1>
                        <h3 class="section-subheading  mt-5" id="presentation_div">
                            <span class="text-uppercase my-3"><i>{{content[0].content|raw}}</i></span><br><br>
                            {{content[3].content|raw}}
                        </h3>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</section>
</section> 
<!-- Clients-->
<section class="page-section mt-5 bg-dark" id="portfolio">
    <div class="">
        <div class="text-center mx-5">
            <h2 class="section-heading text-uppercase">{{content[1].content|raw}}</h2>
        </div>
        <div class="container-fluid">
            <div class="py-5">
                <div class="row" >
                    <div class="row align-items-center justify-content-center flex-wrap" >
                        <div class="col-md-2 col-sm-2 my-3 mx-4">
                            <a href="https://www.cannes.com/fr/index.html" rel="noreferrer"` target="_blank"><img class="img-fluid img-brand d-block mx-auto" style="max-width: 260px; width:100%" src="public/web/assets/img/logos/cannes.svg"
                                    alt="logo des sponsors cannes" /></a>
                            
                        </div>
                        <div class="col-md-2 col-sm-2 my-3  mx-4">
                            <a  href="https://www.chateaueza.com/fr" rel="noreferrer"` target="_blank"><img class="img-fluid img-brand d-block mx-auto" style="max-width: 260px; width:100%" src="public/web/assets/img/logos/eza.svg"
                                    alt="logo des sponsors eza" /></a>
                        </div>
                        <div class="col-md-2 col-sm-2 my-3  mx-4">
                            <a href="https://www.thalesgroup.com/fr" rel="noreferrer"` target="_blank" ><img class="img-fluid img-brand d-block mx-auto " style="max-width: 260px; width:100%" src="public/web/assets/img/logos/Thales-logo.svg"
                                    alt="logo thales" /></a>
                    
                        </div>
                        <div class="col-md-2 col-sm-2 my-3  mx-4">
                        
                            <a href="https://www.thalesgroup.com/fr" rel="noreferrer"` target="_blank" ><img class="img-fluid img-brand d-block mx-auto" style="max-width: 260px; width:100%" src="public/web/assets/img/logos/monaco.svg"
                                    alt="logo monaco" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}