{% extends 'base.html.twig' %}
{% block body %}
<!-- Portfolio Grid-->
<section class="page-section mt-5 bg-dark" id="portfolio">
    <div class="container mt-5">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{content[6].content|raw}}</h2>
        </div>
         <div class="row">
                <div class="col-lg-6 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item ">
                        <a class="portfolio-link" href="galerie?data=11">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid col-12" src="public/web/assets/img/portfolio/1.jpg" alt="illustration theme show" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading text-uppercase">{{content[11].content|raw}}</div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link"  href="galerie?data=12">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid col-12" src="public/web/assets/img/portfolio/2.jpg" alt="illustration fetes" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading text-uppercase">{{content[12].content|raw}}</div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link"  href="galerie?data=13">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid col-12" src="public/web/assets/img/portfolio/3.jpg" alt="illustration entreprise" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading text-uppercase">{{content[13].content|raw}}</div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link"  href="galerie?data=14">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid col-12" src="public/web/assets/img/portfolio/4.jpg" alt="illustration mariage" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading text-uppercase">{{content[14].content|raw}}</div>
                           
                        </div>
                    </div>
                </div>
                
            </div>
    </div>  
</section>
{% endblock %}